@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;900&family=Montserrat:wght@300;400;500;600;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif !important;
}

.navbar-brand {
  transition: transform 0.2s ease;
}

.nav-item {
  margin: 0rem 1rem;
}

.nav-link:hover {
  color: #457b9d !important;
}

.dropdown-item:active {
  color: #457b9d !important;
}

.navbar-brand:hover {
  transform: scale(1.2);
}

.cta {
  background-color: #457b9d;
  padding: 0.5rem;
  border-radius: 5px;
  color: #f7f7f7;
}

.cta:hover {
  background-color: #457b9d;
  padding: 0.5rem;
  border-radius: 5px;
  color: #f7f7f7;
}

.container-fluid {
  max-width: 1600px;
}

.hero-header,
.acc-header,
.about-header,
.work-header1,
.work-header2 {
  background-color: #457b9d !important;
  padding: 10rem 3rem;
  margin: 8rem 0.9375rem 1.25rem 0.9375rem;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

.hero-header {
  background-image: url("../images/hero.webp");
}

.acc-header {
  background-image: url("../images/waterford.webp");
}

.about-header {
  background-image: url("../images/soldering.webp");
}

.work-header1 {
  background-image: url("../images/engwork1.webp");
}

.work-header2 {
  background-image: url("../images/engwork2.webp");
}

.highlight {
  color: #7baece;
}

.small-about {
  background-image: url("../images/gear-accent.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  padding: 5rem 0rem 6rem 0rem;
  border-radius: 20px;
}

.filtered-img {
  filter: grayscale(100%);
}

.info-box {
  background-color: #457b9d;
  padding: 3rem 3rem;
  margin: 6.25rem 0.9375rem 1.25rem 0.9375rem;
  border-radius: 20px;
  background-image: url("../images/icons.webp");
  background-size: cover;
}

.container-test {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image-container {
  perspective: 1000px;
}

.hover-image {
  width: 500px;
  transition: transform 0.2s ease;
}

.hover-image:hover {
  transform: scale(1.1) rotateX(var(--rotate-x)) rotateY(var(--rotate-y));
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 25s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}

.owl-carousel .owl-item {
  transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-item .card {
  padding: 30px;
  position: relative;
}

.owl-carousel .owl-stage-outer {
  overflow-y: auto !important;
  padding-bottom: 40px;
}

.owl-carousel .owl-item img {
  height: 50px;
  width: 50px !important;
  object-fit: cover;
  border-radius: 50px;
}

.owl-carousel .owl-item .card .name {
  position: absolute;
  bottom: -20px;
  left: 33%;
  color: #f7f7f7;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #457b9d;
  padding: 0.3rem 0.4rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #3c405a54;
}

.owl-carousel .owl-item .card {
  opacity: 0.2;
  transform: scale3d(0.8, 0.8, 0.8);
  transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-item.active.center .card {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.owl-carousel .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.owl-theme .owl-dots .owl-dot span {
  height: 20px;
  background: #f7f7f7f7 !important;
  border-radius: 10px !important;
  border: 1px solid #191919;
  opacity: 0.8;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  height: 13px;
  width: 13px;
  opacity: 1;
  transform: translateY(2px);
  background: #457b9d !important;
}

.owl-carousel::before {
  content: "“"; /* this is the left quote mark */
  position: absolute;
  color: #457b9d;
  font-size: 10em;
  font-weight: 700;
  z-index: 2;
  opacity: 0.2;
  top: -10rem;
}

.owl-carousel::after {
  content: "”"; /* this is the right quote mark */
  position: absolute;
  color: #457b9d;
  font-size: 10em;
  font-weight: 700;
  z-index: 2;
  opacity: 0.3;
  bottom: -10rem;
}

@media (min-width: 480.6px) and (max-width: 575.5px) {
  .owl-carousel .owl-item .card .name {
    left: 24%;
  }
}

@media (max-width: 360px) {
  .owl-carousel .owl-item .card .name {
    left: 30%;
  }
}

@media (max-width: 992px) {
  .util-title {
    font-size: 1em;
  }

  .hero-subtitle {
    font-size: 3em;
  }
}

.counter-section i {
  display: block;
  margin: 0 0 10px;
}
.counter-section span.counter {
  font-size: 40px;
  color: #000;
  line-height: 60px;
  display: block;
  letter-spacing: 2px;
}
.counter-title {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000;
}
.counter-icon {
  top: 25px;
  position: relative;
}
.counter-style2 .counter-title {
  letter-spacing: 0.55px;
  float: left;
}
.counter-style2 span.counter {
  letter-spacing: 0.55px;
  float: left;
  margin-right: 10px;
}
.counter-style2 i {
  float: right;
  line-height: 26px;
  margin: 0 10px 0 0;
}
.counter-subheadline span {
  float: right;
}

.medium-icon {
  font-size: 40px !important;
  margin-bottom: 15px !important;
}

@media (min-width: 576px) {
  .rounded-nav {
    border-radius: 50rem !important;
  }
}

@media (min-width: 576px) {
  .rounded-nav .nav-link {
    border-radius: 50rem !important;
  }
}

.contact-sec {
  margin: 10rem 0rem !important;
}

summary {
  list-style: none;
}
